.drive {
   line-height: 1.1rem;
}

.buildings {
   background: url(./images/picture.jpg) no-repeat center center;
   background-repeat: no-repeat;
   background-size: cover;

}
.forxlsize{
   background:  no-repeat center center ;
  
   height: 34rem;
}
.arrow{
   transition: 1s;
}
.uber:hover .arrow{
   transform: translateX(10px);
}
@media only screen and (min-width:1280px) {
   .buildings {
      height: 17rem;
      background: url(./images/picture.jpg) no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
   }
}